body{
  background-color: #f8eee127;
}
.burger:focus{
  box-shadow: none;
}
.nav-btn-container{
  width: 30%;
}
.btn-custom{
  background-color: #B68C5A;
  color: white;
  font-size: 18px;
  padding:16px 20px ;
  transition: all ease-in .5s;
}
.btn-custom:hover{
  background-color: #b68d5ae5;
  box-shadow: none;
  color: white;
  transform: scale(1.01,1.01);
}
.btn-custom:focus{
  box-shadow: none; 
}
.form-control:focus{
  box-shadow: none;
}
.banner{
  background-image: url("../images/banner.png");
  height: 600px;
  background-size: cover;
  
}
.banner>div>form input{
  margin-right: 20px;
}
.custom-slider{
  background-image:linear-gradient(to right, #0000009d, #0000009d), url("../images/banner.png");
  height: 600px;
  background-size: cover;
  border-radius: 20px;
}
.custom-slider .slider-image{
  width: 100px;
  height: 100px;
}
.accordion-button::after{
  background-image: url("../images/plus.png");
}
.accordion-button:not(.collapsed)::after{
  background-image: url("../images/minus-sign.png");
}
.contact-card img{
  width: 50px;
}
.input-group,.input-group .btn-custom{
  border-radius: 5px !important;
}
.input-group input[type="text"]{
  border: 0;
}
@media screen and (max-width: 991.98px) { 
  .nav-btn-container{
    width: 100%;
  }
  .banner>div>form input{
    margin-right: 0;
    margin-bottom: 20px
  }
  .legal-card{
    border: 1px solid rgba(182, 171, 171, 0.42) !important;
  }
 }
