body{
  background-color: #f8eee127;
}
.burger:focus{
  box-shadow: none;
}

/* utility classes */
.btn-custom{
  background-color: #B68C5A;
  color: white;
  font-size: 18px;
  padding:16px 20px ;
  transition: all ease-in .5s;
}
.btn-custom:hover{
  background-color: #b68d5aec;
  box-shadow: none;
  color: white;
  transform: scale(1.02,1.02);
}
.btn-custom:focus{
  box-shadow: none; 
}
.form-control:focus{
  box-shadow: none;
}

/* header */
.navbar-nav .nav-item .nav-link{
  transition: all ease-out .5s;
}
.navbar-nav .nav-item .nav-link:hover{
  color: rgba(38, 19, 164, 0.784);
  transform: scale(1.04,1.04);
}
.banner{
  background-image: url("../images/banner.png");
  height: 600px;
  background-size: cover;
  
}
.banner>div>form input{
  margin-right: 20px;
}

/* Legal Practice Section */
.legal-card{
  cursor: pointer;
  transition: all ease-out .4s;
}
.legal-card:hover{
  border: 1px solid slategrey !important;
}
.legal-card .btn{
  transition: all ease-in .4s;
}
.legal-card:hover .btn{
  transform: scale(1.2,1.2);
}
.legal-card:nth-child(2){
  background-image:linear-gradient(to bottom, #00000016, #ffffff9d);
}
.legal-card img{
  width: 80px;
  height:80px;
}

.legal-card .btn img{
  width: 40px;
  height:40px;
}
.legal-card .btn:hover{
  
}

/* Client Section */
.custom-slider{
  background-image:linear-gradient(to right, #0000009d, #0000009d), url("../images/banner.png");
  height: 600px;
  background-size: cover;
  border-radius: 20px;
}
.custom-slider .slider-image{
  width: 100px;
  height: 100px;
}
/* faq Section */
.accordion-button:hover{
  color: slateblue;
  
}
.accordion-button:focus{
  box-shadow: none;
  
  background-color: white !;
  
}
.accordion-button:not(.collapsed) {
  color: slategrey;
  background-color: #fff;
  
}
.accordion-button::after{
  background-image: url("../images/plus.png");
}
.accordion-button:not(.collapsed)::after{
  background-image: url("../images/minus-sign.png"); 
}
/* contact Section */
.contact-card img{
  width: 50px;
}

/* footer */
.input-group,.input-group .btn-custom{
  border-radius: 5px !important;
}
.input-group input[type="text"]{
  border: 0;
}
footer .link ul li a:hover{
  color: rgb(189, 177, 252) !important ;
}

@media screen and (max-width: 991.98px) { 
  /* header */
  .banner>div>form input{
    margin-right: 0;
    margin-bottom: 20px
  }
  /* Legal Practice Section */
  .legal-card{
    border: 1px solid rgba(182, 171, 171, 0.42) !important;
    background-image:linear-gradient(to bottom, #00000016, #ffffff9d);
  }
 }
